/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
} */

form label,
form input,
form select,
form textarea{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form label{
    vertical-align: top;
    font-size: 1.2em;
    font-weight: bold;
}

form input {
    max-width: 10rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    font-family: inherit;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

form select {
    max-width: 10rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    font-family: inherit;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
} 

textarea {
    max-width: 10rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    font-family: inherit;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
} 